header{    
    background-color: #EAC926;
    width: 100%;
}

a{
    text-decoration: none;
}

p{
    text-align: center;
    padding: 10px;
    font-size: 13px;
}

#logo{
    display: inline-flex;
    width: 50%;
    
}

.buscador{
    display: inline-flex;
    width: 50%;
    max-height: 35px;
    
}

.header1{
    display: flex;
    padding: 10px;
    align-items: center;

}

.burger-menu{
    display: flex;
    justify-content: center;    
}

#burger{
    color: #ebebeb;
    background-color: #1259c3;
    padding: .5em;
    border-radius: 15%;
    margin-bottom: 2vh;
}



/*
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
*/