

main section article p{
    display: inline;
    font-size: 18px;
    
}

main section h2{
    font-size: 24px;

}


main section article h3{
    font-size: 16px;
    display: none;
    transition:  0.5s;
}

main section article h3:hover{
    display: block;
    font-size: 16px;
}

main section article img{
    border-bottom: solid 1px #ebebeb;
}

.descuento{
    font-size: 16px;
    color: #39b54a;
}

.envio{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    color: #39b54a;
    font-size: 15px;
    border: 1px solid #39b54a;
    width: 25px;
    height: 25px;
    border-radius: 40px;
    margin-right: 20px;
    position: relative;
    flex-wrap: nowrap;
    bottom: 15px;
}

#camion{
    position: relative;
    top: 4px;
    left: 3px;
}


main{
    margin: 0;
    background-color: #ebebeb;
    width: 90%;
    
}

.ultimos-articulos{

}