body{
    background-color: #ebebeb;
}

.datos{
    display: flex;
    flex-direction: column;
}

.datos label{
    margin-top: 15px;
}

input{
    margin-top: 2vh;
    padding: 1em;
    border-radius: 5px;
    border: none;
}

.perfil{
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    margin-bottom: 2vh;
}

#comprar{
    margin: 0;
}
#Vender{
    margin: 0;
}

.categorias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 5vh;
}

.categorias input{
    margin: 0;
    display: inline;
    width: 40vw;
    margin-bottom: 10px;
}

.categorias label{
    width: 40vw;
}

.boton2 input{
    border-radius: 5px;
    color: #ebebeb;
    height: 4vh;
    margin-top: 2vh;
    margin-bottom: 1vh;
    width: 300vw;
    background-color: #1259c3;
    padding: 2px;
    width: 30vw;
}

.boton2{
    display: flex;
    justify-content: space-evenly;
}

.password{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2vh;
    width: 30vw;
}


main{
    padding: 2em;
    margin-bottom: 0;
}